/* Fade */
.fade-enter-from,.fade-leave-to{
    opacity: 0;
}

.fade-enter-active, .fade-leave-active{
    transition: opacity 2s;
}

.fade-enter-to, .fade-leave-from{
    opacity: 1;  
}

/* Slide */
.slide-enter-from{
    opacity: 0;
    transform: translateX(-150px);
}

.slide-enter-active, .slide-leave-active{
    transition: all 2s;
}

.slide-enter-to, .slide-leave-from{
    opacity: 1;
    transform: translateX(0px);
}

.slide-leave-to{
    opacity: 0;
    transform: translateX(150px);
}

/* Zoom */
.zoom-enter-from, .zoom-leave-to{
    transform: scale(0);
}

.zoom-enter-active, .zoom-leave-active{
    transition: transform 1s;
}

.zoom-enter-to, .zoom-leave-from{
    transform: scale(1);
}

/* Flip */
.flip-enter-active{
    animation: flip 2s;
}

.flip-leave-active{
    animation: flip 2s reverse;
}

@keyframes flip {
    from{
        transform: rotateY(-80deg);
    }

    to{
        transform: rotateY(0deg);
    }
}

@keyframes flipCustom {
    0%{
        transform: rotateY(-80deg);
    }

    25%{
        transform: rotateY(-75deg);
    }

    50%{
        transform: rotateY(-25deg);
    }

    100%{
        transform: rotateY(0deg);
    }
}

/* Transition and animation */
/* Jump */
.jump-enter-from, .jump-leave-to{
    opacity: 0;
}

.jump-enter-active{
    animation: jump 2s;
    transition: 1.5s;
}

.jump-enter-to, .jump-leave-from{
    opacity: 1;
}

.jump-leave-active{
    animation: jump 2s;
    transition: opacity 1s;
}

@keyframes jump {
    0%{ transform: scale(1,1) translateY(0px); }
    10%{ transform: scale(1.1, 0.9) translateY(0px); }
    30%{ transform: scale(0.9, 1.1) translateY(-30px); }
    50%{ transform: scale(1.05, 0.95) translateY(0px); }
    57%{ transform: scale(1,1) translateY(-8px); }
    64%{ transform: scale(1,1) translateY(0px); }
    100%{ transform: scale(1,1) translateY(0px); }
}
